{% extends 'groceries_app/base_template.html' %}

{% block title %}Grocery Items - Shop Nest{% endblock %}

{% block content %}
<div class="ingredient-title-container">
    <h1>Grocery Items</h1>
</div>

<div class="ingredient-grid">
  <ul>
    <li class="ingredient-header">
      <div class="ingredient-field">Item Name</div>
      <div class="ingredient-field">Cost</div>
      <div class="ingredient-field">SKU</div>
      <div class="ingredient-field">View Details</div>
    </li>
    {% for ingredient in grocery_item_list %}
      <li class="ingredient-item">
         <div class="ingredient-field">{{ ingredient.item_name }}</div>
         <div class="ingredient-field">${{ ingredient.cost }}</div>
         <div class "ingredient-field">{{ ingredient.sku }}</div>
         <div class="ingredient-field"><a href="{{ ingredient.get_absolute_url }}" class="btn btn-primary">View Item</a></div>
      </li>
    {% endfor %}
  </ul>
</div>
</div>

<style>
.ingredient-title-container {
    background-color: rgba(129, 186, 95, 0.6);
    color: #6E168A;
    padding: 10px;
}

.ingredient-grid {
    gap: 20px;
}

.ingredient-header {
    display: grid;
    color: #6E168A;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: rgba(255, 183, 26, 0.7);
    font-weight: bold;
    text-align: center;
    border: 1px solid #010101;
}

.ingredient-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: rgba(255, 183, 26, 0.7);
    border: 1px outset #010101;
    text-align: center;
}

.ingredient-field {
    border-right: 1px outset #010101;
    padding: 10px;
}
</style>
{% endblock %}
